html{
    max-width: 100%;
}
body {
    background-color: #f5f0e3;
    color: white;
    font-family: 'Times New Roman';
   margin:0;
   left:0; right: 0;
   width: 100%;
   text-align: center;
  }
  form {
    background-color: #A84448;
    margin: auto;
    width: 80%;
    height: 40%;
    border-radius: 20px;
}
img{
    width:30px
}
#logo{
    width:20%;
    margin:10px;
}
header{
    font-size: 299%;
width:95.8%;
text-align: left;
 background-color:  #99B19C;  
   padding: 1%;
    padding-left: 40px;
    margin: 0%;
}
.item{
    background-color:white;
    color: rgb(196, 151, 40);
    width:90%;
    text-align: left;
padding: 1%;
   margin: 3%;
   margin-left:4%;
    border-radius: 20px;
    padding-bottom: 12%;
}
.item:hover{
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
}
h1{
    color:rgb(57, 57, 57)
}
.pr{
    width:20%;
    border-radius: 20px;
    float: right;
    margin-right: 2%;
}
.quantity img{
    width:50px;
}