form {
    background-color: #713c5f;
    margin: auto;
    padding: 25PX;
    text-align: center;
    width: 30%;
    height: 25%;
    font-size: 30px;
    border-radius: 12px;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #A84448;
    color: white;
    border-color: #f5f0e3;
    margin-top: 25px;
border-radius: 20px;
}
button {
    width: 168px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #A84448;
    color: white;
    border-color: #f5f0e3;
    margin-top: 25px;
    border-radius: 20px;
    
}
body {
    background-color:  white;
    color: white;
    font-family: 'Times New Roman';
}

header {
    margin-left: 2px;
    margin-top: 10px;
}

input {
    text-align: center;
    border-radius: 15px;
} 
.flavoured {
    margin-left: 20px;
    text-align: center;
} 
label {
    text-align: right;
   
}
img {
    margin-left: 0%;
    width: 175px;
    margin-bottom: 0%;
}

