form {
    background-color: #713c5f;
    margin: auto;
    padding: 2%;
    text-align: center;
    width: 30%;
    height: 40%;
    font-size: 200%;
    border-radius: 20px;
}

.flavoured {
    margin-left: 3%;
    text-align: left;
}

input {
    text-align: center;
    border-radius: 15px;
}

img {
    margin-left: 61%;
    width: 35%;
    margin-bottom: 0%;
}

::placeholder {
    opacity: 80%;
    color: #A84448;
    font-family: 'Times New Roman';
}

header {
    margin-right: 15%;
    display: inline-block;
    position: fixed;
    text-shadow: 3px 3px#A84448;
    text-align: left;
    font-size: 160%;
    margin-bottom: 0px;
    padding: 0%;
}

label {
    text-align: right;
}

.data {
    display: block;
    padding: 1%;

}

.data2 {
    display: block;
    padding: 1%;
    margin-bottom: 2%;
}

.email {
    margin-right: 13%;
}

.password {
    margin-right: 3%;
}

button {
    width: 37%;
    font-size: 60%;
    font-family: 'Times New Roman';
    background-color: #A84448;
    color: white;
    border-color: #f5f0e3;
    margin-bottom: 3%;
    border-radius: 20px;
}

.signUp {
    font-size: 42%;
    display: block;
    text-align: center;
    margin-bottom: 0px;
}

body {
    background-color: white;
    color: white;
    font-family: 'Times New Roman';
}

a {
    display: inline-block;
    text-decoration: underline;
    color: #99B19C;
    margin: 2%;
}

p {
    display: inline-block;
}

.tb {
    font-size: 50%;
    display: inline-block;
}

a:hover {
    background-color: #99B19C;
    color: white;
}

#error0,
#error-1 {
    display: none;
    margin-left: 13.6%;
    z-index: 3;
    color: #111111e1;
    background-color: white;
    font-size: 30px;
    width: 185px;
    height: 38px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(25, 25, 25, 0.841);
}

#error0 img,
#error-1 img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin: 3%;
    margin-left: 0;
    vertical-align: middle;
}

#error0 span,
#error-1 span {
    padding: 1%;
    font-size: 14px;
    letter-spacing: 0.6px;
    border-width: 2px;
    font-family: 'Arial Narrow';
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

span img {
    margin-right: 20px;
}