.profileMenu {
    display: none;
    background-color:#f9f1db;
    float: right;
    margin: 1%;
    border-color: #A84448;
    border-style:solid;
    border-width: 10px;
    width:150px;
    height: 123px;
    background-color: #A84448;
    border-radius: 20px;
    position: fixed;
    left:84%;
   }
   .profileHeader{
     margin-top:5px;
   }