form {
    background-color: #713c5f;
    margin: auto;
    padding: 25PX;
    text-align: center;
    width: 30%;
    height: 40%;
    font-size: 30px;
    border-radius: 20px;
}

.flavoured {
    margin-left: 35px;
    text-align: left;
}

input,
select,
option {
    margin-bottom: 5px;
    text-align: center;
    border-radius: 15px;
}

img {
    margin-left: 53%;
    width: 180px;
    margin-bottom: 0%;
}

::placeholder {
    opacity: 80%;
    color: #A84448;
    font-family: 'Times New Roman';
}

option {
    opacity: 80%;
    color: #A84448;
    font-family: 'Times New Roman';
}

select {
    width: 170px;
    opacity: 95%;
    color: #A84448;
    font-family: 'Times New Roman';
}

.date {
    width: 165px;
    opacity: 95%;
    color: #A84448;
    font-family: 'Times New Roman';
}


header {
    margin-right: 15%;
    display: inline-block;
    position: fixed;
    text-shadow: 3px 3px#A84448;
    text-align: left;
    font-size: 60px;
    margin-bottom: 0px;
    padding: 0%;
}

label {
    text-align: right;
    font-size: 25PX;
}

.data {
    display: block;
    padding: 5px;

}

.data2 {
    display: block;
    padding: 5px;
    margin-bottom: 10px;
}

.name {
    margin-right: 120px;
}

.password {
    margin-right: 91px;
}

.country {
    margin-right: 100px;
}

.address {
    margin-right: 100px;
}

.birthdate {
    margin-right: 90px;
}

.mobile{
    margin-right: 110px;
}

.signUp {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 0px;
}



button {
    width: 186px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: #A84448;
    color: white;
    border-color: #f9f1db;
    margin-bottom: 8px;
    margin-top: 15px;
    border-radius: 20px;
}

body {
    background-color: #f9f1db;
    color: white;
    font-family: 'Times New Roman';
}

p {
    font-size: 16px;
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;
}

a {
    font-size: 16px;
    display: inline-block;
    text-decoration: underline;
    color: #99B19C;
}

a:hover {
    background-color: #99B19C;
    color: white;
}