body {
  background-color: #f9f1db;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 40px;
}

#logo {
  width: 75%;
  margin: 13%;
  padding-top: 30%;
  padding-bottom: 15%;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #A84448;
  transition: all 0.5s ease;
  font-size: 24px;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name {
  color: #f9f1db;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 15%;
  color: white;
  padding-left: 5%;
}

li {
  list-style: none;
}

li img {
  vertical-align: middle;
}

.sidebar .nav-links li:hover,
.active {
  background-color: #99B19C;
}

.sidebar .nav-links #out {
  position: absolute;
  bottom: 20px;
  width: 100%
}

.nav-links li {
  cursor: pointer;
}



.sidebar.active {
  width: calc(100% - 60px);
  left: 60px;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #713c5f;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px #713c5f(0, 0, 0, 0.1);
}

nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
  display: flex;
}

.search-box img {
  margin: 2%;
  width: 20px;
  cursor: pointer;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #713c5f;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

nav .profile-details {
  margin-right: 3%;
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

.nav-links img {
  filter: invert();
  margin: 5%;
}