#logo {
  width: 75%;
  margin: 13%;
  padding-top: 30%;
  padding-bottom: 15%;
}

body {
  background-color: #f9f1db;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 40px;
}

#adder {
  float: left;
  margin-bottom: 2%;
  background-color: #713c5f;
}

.userData {
  background-color: white;
  border-radius: 15px;
  z-index: 200;
  width: 78%;
  position: absolute;
  margin-top: 6.5%;
  margin-left: 17.5%;
  margin-right: 18%;
  padding: 1%;
  padding-right: -2%;
  margin-bottom: 10%;
}

tr,
td,
th {
  padding-right: 100%;
}

table {
  background-color: white;
  width: 90%;
  margin-left: 5%;

}

tr:hover {
  box-shadow: 0px 3px 10px rgba(94, 94, 94, 0.841);
}

table,
td,
th {
  font-size: 20px;
  text-align: left;
  padding: 0.5%;
  border-radius: 10px;
  color:rgba(24, 24, 24, 0.886);
}

td,
th {
  padding-bottom: 2%;
}

th {
  color: rgb(196, 151, 40);
}

.modifyButton {
  border: 0;
  color: #ffffff;
  background-color: #99B19C;
  outline: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 12px 36px;
  margin-left: 7%;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
  text-align: center;
}

.deleteButton {
  border: 0;
  color: #ffffff;
  background-color: #A84448;
  outline: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 12px 36px;
  margin-left: 3%;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
  text-align: center;
}

.addButton {
  border: 0;
  color: #ffffff;
  background-color: #713c5f;
  outline: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 6px;
  padding: 12px 36px;
  margin-left: 6.5%;
  margin-right: 1.5%;
  font-family: 'Times New Roman', Times, serif;
  vertical-align: middle;
  text-align: center;
}

input {
  display: inline-block;
  border: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
  color: #747474;
  font-family: inherit;
  vertical-align: middle;
  text-align: center;

}

.inputEmail {
  margin-left: 1%;
}

span {
  display: inline-block;

}

.modifyButton:active,
.deleteButton:active,
.addButton:active,
button {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.525);
  border-radius: 6px;
}

.numbers {
  text-align: right;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #A84448;
  transition: all 0.5s ease;
  font-size: 24px;
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}

.sidebar .logo-details .logo_name {
  color: #f9f1db;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 15%;
  color: white;
  padding-left: 5%;
}

li {
  list-style: none;
}

li:hover {
  box-shadow: 0px 3px 10px rgba(94, 94, 94, 0.841);
}

li img {
  vertical-align: middle;
}

.sidebar .nav-links li:hover,
.active {
  background-color: #99B19C;
}

.sidebar .nav-links #out {
  position: absolute;
  bottom: 20px;
  width: 95%
}

.nav-links li {
  cursor: pointer;
}

.sidebar.active {
  width: calc(100% - 60px);
  left: 60px;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #713c5f;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 201;
  padding: 0 20px;
  box-shadow: 0 1px 1px #713c5f(0, 0, 0, 0.1);
}

nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
  display: flex;
}

.search-box img {
  margin: 2%;
  width: 20px;
  cursor: pointer;
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #713c5f;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

nav .profile-details {
  margin-right: 3%;
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

.nav-links img {
  filter: invert();
  margin: 5%;
}